* {
    font-family: 'Press Start 2P', cursive;
}

body{
    margin: 0;
    padding: 0;
    background-color: #252933;
    color: #e84c57;
}

h1{
    margin: 0;
}

.playspace{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    height: 100vh;
}

.playHeading { 
    margin: 20px auto;
    flex:1;
}

.versus{
    display: flex;
    flex-direction: row;
    flex: 7;
    align-self:stretch ;
}

.player , .computer {
    margin: 50px 0px;
    padding: 20px;
    flex: 1;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
    align-items: center;

}

.choice_rps{
    margin: auto;
    flex: 2;
}

.choice_rps ul {
    margin : 0;
    padding : 0;
    list-style-type: none;
    gap: 100px;
    display: flex;
    justify-content: space-evenly;
}

.choice_rps ul li{
    margin:0;
    padding:0;
    flex: 1;
    display: flex;
    justify-content: center;
}

button{
    height: 40px;
    width: 200px;
    color: #e84c57;
    background-color:#252933;
    border : 2px solid #e84c57; 
    border-radius: 20px;
}

button:hover{
    color: rgb(255, 217, 0);
    border-color: rgb(255, 217, 0);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
.modal-content {
    margin: 150px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #252933;
    border: 1px solid #e84c57;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    gap: 20px;
  }

.modal-content p{
    text-align: center;
}